@import '../styles/global';

.tile-enter {
  transform: scale(0.1) rotateX(90deg);
}

.tile-enter-active {
  transform: scale(1.1) rotateX(-15deg);
}

.tile-enter-done {
  transform: scale(1) rotateX(0deg);
}

.board {
  display: grid;
  gap: $gap-sm;
  grid-template-columns: repeat(5, 1fr);

  $tile-size: 60px;

  .board__tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 500;
    font-family: $font-family-secondary;
    text-transform: capitalize;
    width: $tile-size;
    height: $tile-size;
    border: 3px solid var(--background-tertiary);
    border-radius: $border-radius;
    transition: transform $transition-duration * 2 $transition-timing;

    &.wrong,
    &.partial,
    &.correct {
      color: var-dark('color-primary');
    }

    &.wrong {
      background: var-dark('background-tertiary');
      border-color: var-dark('background-tertiary');
    }

    &.partial {
      background: var-accent('cyan-primary');
      border-color: var-accent('cyan-primary');
    }

    &.correct {
      background: var-accent('green-primary');
      border-color: var-accent('green-primary');
    }
  }
}
